BOT_TOKEN="your_bot_token_here"
SYNC_GUILD="your_server_id_here"
TARGET_GUILD="your_server_id_here"
TARGET_CHANNEL="your_channel_id_here"
INVITE_TIMEOUT="300" #optional
ONLINE_MEMBER_INDICATOR="🟢" #optional
TOTAL_MEMBER_INDICATOR="⚪" #optional